@import "../../../assets/css/variables";

.hero {
    background: url("../../../assets/images/hero.svg");
    min-height: 100vh;
    padding-top: 2rem;

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 50%;
        margin: 0 auto;

        .wrapper {
            text-align: center;
            color: $secondary-color;

            * { color: inherit; }

            .trip-name {
                font-family: $righteous-font;
                font-size: 6rem;
            }

            .trip-description {
                margin: 1.5rem 0 2.25rem;
                font-weight: bold;
                font-size: 1.05rem;
                line-height: 24px;
                letter-spacing: 0.1em;
                font-family: $oswald-font;
            }

            .sub-description {
                font-size: 17px;
                line-height: 150%;
                font-family: $arimo-font;
            }
        }
    }
}