@import "../../../../assets/css/style.scss";

.social {
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%);
    padding: 2.5rem;

    .social-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.25rem;
        color: $primary-color;

        i {
            font-size: 1.5rem;
        }
    }
}